.register-container {
  position: relative;
}
.register-container img {
  height: 100vh;
}
.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  background-color: #fff;
  padding: 44px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}
.register-form h3 {
  margin-bottom: 60px;
}
.register-container form input {
  width: 100%;
  padding: 16px;
  border: 1px solid #e3e3e3;
}
.register-container form input:last-child {
  margin-top: 24px;
  background-color: #666666;
  font-family: sans-serif;
}
.register-container form input:focus {
  outline: none;
}
.signup {
  color: #ccc;
  font-weight: 100;
}
.signup a {
  text-decoration: none;
}
.not-action:disabled,
.not-action:disabled:hover,
.not-action:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
