.home-banner {
  position: relative;
}
.home-banner img {
  width: 100%;
}
.home-banner .description {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(0, -50%);
  width: 25%;
}
.home-banner .description p {
  color: #a8a8a8;
  font-weight: 100;
  font-size: 14px;
}
.home-banner .description a {
  background-color: #4c4c4c;
  color: #dcdcdc;
  padding: 12px 24px;
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
  font-weight: 100;
}
